<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section>
        <form action="/req/login/verify" method="post">
        <h1>Log in</h1>
            <div class="inputbox">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="email" id="email" required>
                <label for="">Email</label>
            </div>
            <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input type="password" id="password" required>
                <label for="">Password</label>
            </div>
            <div class="register">
                <p><a href="/html/forgotPass.html">Forgot Password ?</a></p>
            </div>

            <div class="register" id="showResult" 
                style="display: none; color: red; font-size: 1.1rem; font-weight: 770;">
            </div>
            
            <button id="loginBtn">
                <span id="loginBtnText">Log in</span>
                <span id="loginBtnSpinner" style="display: none;">⏳</span>
            </button>
            
            <div class="register">
                <p>Don't have an account? <a href="/req/signup"> Sign up</a></p>
                <p style="margin-top: 5px;">
                    Email not verified? 
                    <a href="/html/resend-verification.html"> Verify Email</a>
                </p>
            </div>
        </form>
    </section>
    <script src="/js/login.js"></script>
</body>
</html>